section {
    width: 60%;
    height: 50vh;
    border: 2px solid rgb(82, 216, 82);
}

section div {
    width: 100px;
    height: 100px;
    background: tomato;
    border-radius: 5px;
    margin: 10% auto;
    transition: all .8s linear;
}

.transform:hover {
    transform: scale(1.5) rotatez(90deg) translateX(100px);
}


